---
interface Props {
	text: string;
}

const { text } = Astro.props;
---

<button class="action-btn">
    {text}
    <slot />
</button>

<style>
    .action-btn {
        background-color: var(--thertiary-color);
        outline: none;
        border: none;
        border-radius: 18px;
        padding: 15px 30px;
        margin: 15px;
        border: 1px solid transparent;
        font-weight: 600;
        font-size: 1.1rem;
        transition-duration: .3s;
        cursor: default;
    }

    .action-btn:hover {
        border: 1px solid var(--primary-color);
        background-color: rgb(232, 244, 255);
    }
</style>