<footer id="footer" class="container-fluid align-items-center justify-content-center d-flex" style="background-color: rgb(238, 241, 245);">
    <div class="row">
        <div class="col text-center">
            <p style="margin: 0; color: grey;">Desarrollado por <a href="https://guiacalidad.com.pe/" style="color: grey; text-decoration: underline;" target="_blank">GUIACALIDAD</a></p>
        </div>
    </div>
</footer>

<style>
    footer {
        min-height: 90px;
        background-color: var(--nav-color);
    }
</style>